<p id="notice"><%= notice %></p>
<div class: "container well">

<div class="row">
  <div class="col-lg-10">
    <% @posts.each do |post| %>
            <h6><%= post.created_at.strftime("%B %d, %Y") %></h6>
            <h1><%= link_to post.title, post %></h1>
            <hr>
    <% end %>
  </div>
  <div class="col-lg-2">

  </div>
</div>
</div>
<br>






